body{
   background-color: #fcfcfc;
}

.header__logo{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 5%;

}

.body__container{
    width: 1440px;

}
.container{
    width: 1440px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);
    margin: 0 auto;
    background-color: white;
}
.header__input{
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    border: 1px solid #EBEBF1;
    height: 40px;


}


.header__input__item__2 input{

    opacity: 40%;
    width: 700px;
    border: 0;
    outline: none;


}
.header__input__item__1{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__input__item__1 img{
    width: 16px;
    height: 16px;
    opacity: 40%;
    text-align: left;


}

.header__profile{
justify-content: right;
    width: 15%;
    height: 80px;
 }

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    justify-content: inherit;
    width: 1170px;
    margin: 0 auto;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

}

.header__profile{
    color: #768298;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid #EBEBF1;
    justify-content: flex-end;
}
.header__profile__item{
margin-right: 10px;
}

.header__profile__img img {
    width: 40px;
    height: 40px;
}
.header__input__container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.body__container__flex{
    display: flex;
    flex-direction: column;
    width: 1170px;
    margin: 0 auto;
    justify-content: left;

}
.body{
    width: 1440px;
    margin: 0 auto;
}
.body__title__text{

    width: 100%;
    margin-top: 70px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    text-transform: uppercase;

}
.body__partners{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.body__partners__item{

    width: 275px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid #EBEBF1;

}
.body__partners__flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.body__partners__item img {
    max-width: 60px;
    max-height: 60px;
    margin-top: 30px;
}

.body__partners__item:hover{
    background-color: white;
    box-shadow: 0 6px 15px rgba(191, 191, 191, 0.66);
    transition: 0.5s;
}
